extends layout

block content
  h1 Olin Dining Hacks
  h2 #{name}
  p Uploaded by #{display_name}
  p
    | back to
    a(href="/recipes")

  h3 Ingredients
  ul(id="ingredientList")
    each item in ingredients
      li(class="recipeContent") #{item}

  h3 Instructions
  ul(id="instructions")
    li(class="instructionsContent") #{instructions}
