extends layout

block content
  span
    a(href="/recipes")
      h1 Olin Dining Hacks
    a.btn.btn-success#recipe-new(href="/recipe/new") + New Recipe
  h2 All uploaded recipes

  ul
    if recipes
      each item in recipes
        li
          a(href="/recipe/#{item._id}") #{item.name}
