extends layout

block content
  span
    a(href="/recipes")
      h1 Olin Dining Hacks
    a.btn.btn-success#recipe-new(href="/recipe/new") + New Recipe
  h2 #{name}
  p Uploaded by #{display_name}

  h3 Ingredients
  ul(id="ingredientList")
    each item in ingredients
      li(class="recipeContent") #{item}

  h3 Instructions
  ul(id="instructions")
    li(class="instructionsContent") #{instructions}
